TodoApi/.vs/ProjectEvaluation/todoapi.metadata.v7.bin
TodoApi/.vs/ProjectEvaluation/todoapi.projects.v7.bin
TodoApi/.vs/TodoApi/DesignTimeBuild/.dtbcache.v2
TodoApi/.vs/TodoApi/FileContentIndex/0fdacc58-64e5-4f35-8a37-3bfff19b2234.vsidx
TodoApi/.vs/TodoApi/FileContentIndex/1e42d6e5-4a8c-4f76-a813-e562c845af9b.vsidx
TodoApi/.vs/TodoApi/FileContentIndex/657a1ea5-e128-451e-945f-01c0e02668f5.vsidx
TodoApi/.vs/TodoApi/FileContentIndex/e1daea4a-0dd2-41b7-8d0f-90216cf8509d.vsidx
TodoApi/.vs/TodoApi/FileContentIndex/f7f5520b-f2f0-4405-94ea-608d2ebf149c.vsidx
TodoApi/.vs/TodoApi/config/applicationhost.config
TodoApi/.vs/TodoApi/v17/.futdcache.v2
TodoApi/.vs/TodoApi/v17/.suo
TodoApi/bin/Debug/net8.0/appsettings.Development.json
TodoApi/bin/Debug/net8.0/appsettings.json
TodoApi/bin/Debug/net8.0/Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore.dll
TodoApi/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
TodoApi/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
TodoApi/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.InMemory.dll
TodoApi/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
TodoApi/bin/Debug/net8.0/TodoApi.deps.json
TodoApi/bin/Debug/net8.0/TodoApi.dll
TodoApi/bin/Debug/net8.0/TodoApi.exe
TodoApi/bin/Debug/net8.0/TodoApi.pdb
TodoApi/bin/Debug/net8.0/TodoApi.runtimeconfig.json
TodoApi/obj/project.assets.json
TodoApi/obj/project.nuget.cache
TodoApi/obj/TodoApi.csproj.nuget.dgspec.json
TodoApi/obj/TodoApi.csproj.nuget.g.props
TodoApi/obj/TodoApi.csproj.nuget.g.targets
TodoApi/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
TodoApi/obj/Debug/net8.0/apphost.exe
TodoApi/obj/Debug/net8.0/staticwebassets.build.json
TodoApi/obj/Debug/net8.0/TodoApi.AssemblyInfo.cs
TodoApi/obj/Debug/net8.0/TodoApi.AssemblyInfoInputs.cache
TodoApi/obj/Debug/net8.0/TodoApi.assets.cache
TodoApi/obj/Debug/net8.0/TodoApi.csproj.AssemblyReference.cache
TodoApi/obj/Debug/net8.0/TodoApi.csproj.BuildWithSkipAnalyzers
TodoApi/obj/Debug/net8.0/TodoApi.csproj.CopyComplete
TodoApi/obj/Debug/net8.0/TodoApi.csproj.CoreCompileInputs.cache
TodoApi/obj/Debug/net8.0/TodoApi.csproj.FileListAbsolute.txt
TodoApi/obj/Debug/net8.0/TodoApi.dll
TodoApi/obj/Debug/net8.0/TodoApi.GeneratedMSBuildEditorConfig.editorconfig
TodoApi/obj/Debug/net8.0/TodoApi.genruntimeconfig.cache
TodoApi/obj/Debug/net8.0/TodoApi.GlobalUsings.g.cs
TodoApi/obj/Debug/net8.0/TodoApi.MvcApplicationPartsAssemblyInfo.cache
TodoApi/obj/Debug/net8.0/TodoApi.pdb
TodoApi/obj/Debug/net8.0/ref/TodoApi.dll
TodoApi/obj/Debug/net8.0/refint/TodoApi.dll
TodoApi/obj/Debug/net8.0/staticwebassets/msbuild.build.TodoApi.props
TodoApi/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.TodoApi.props
TodoApi/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.TodoApi.props
